#teoet{
	height: 10%;
	width: 10%;
}
table{
	border-collapse: collapse;
	width: 50%;
	margin-left: 25%;
	border-radius: 30px;
}
tr{
	width: 1000px;
	/*background-color: rgb(250, 125, 188);*/
	background-color: #44f;
	border: solid #8ff8 2px;
	border-radius: 30px;
}

td{
	margin: 5px;
}

th{
	float: left;
}
.Sort-Name{
	display: inline-block;
	font-size: 20px;
}
#Table-Section-Names{
	font-size: 30px;
	background-color: #8ff8;
}

.Extend{
	display: inline-block;
}

canvas{
	margin-right: 10px;
	width: 120%;
}

#bg_canvas{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}

.Extend{
	margin-bottom: 10px;
	display: inline-block;
	/*border-radius: 7px;*/
	background-color: transparent;
	color: #0cf;
	border:2px solid #0cf;
}

.Extend:hover{
	color:#8ff;
	border:2px solid #8ff;
}

.reset_button{
	margin-bottom: 10px;
	display: inline-block;
	/*border-radius: 7px;*/
	background-color: transparent;
	color: #0cf;
	border:2px solid #0cf;
}

.reset_button:hover{
	color:#8ff;
	border:2px solid #8ff;
}

p{
	display: inline-block;
	color: white;
}

.input{
	border-radius: "50px";
	border:2px solid #0cf;
	background-color: transparent;
	color: #0cf;
}

button{
	cursor: pointer;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: linear-gradient(90deg, #8ff 0%, #0cf 100%);
	/*border-radius:2px;*/
	/*border: 0px solid #0cf;*/
	outline: none;
	opacity: 1;
}
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-transform: rotate(-45deg);
	/*border-radius: 50px;*/
	border:2px solid #0fa;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #44f;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #0cf;
	cursor: pointer;
}
